._blur_bg {
  position: relative;
  background: inherit;
  // background-attachment:fixed;
  // background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  background-clip: inherit;
  z-index: 1;
  // Magic
  will-change: transform;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-clip: inherit;
    filter: blur(2px);
  }
  &.__blur_hasCover {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -2;
    }
  }
  &.__blur_over_white {
    &::after {
      background-color: rgb(255, 255, 255);
    }
  }
  &.__blur_over_dark {
    &::after {
      background-color: rgb(28, 38, 56);
    }
  }
}
@for $i from 1 through 10 {
  ._blur_bg.__blur_#{$i}::before {
    filter: blur(2px * $i) !important;
  }
}
