.__Carousel {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  overflow: hidden;
}
.__Carousel .slide {
  flex: 1;
  border-radius: 5px;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: blur(2px);
  /* 强制开启gpu加速 */
  transform: translateZ(0);
  user-select: none;
}
.__Carousel .slide > figure > * {
  background-color: #fff;
  box-shadow: 0px 0px 30px #838383;
  pointer-events: all;
}
.__Carousel .slide > figure {
  display: flex;
  justify-content: center;
}
.__Carousel .slide.active {
  filter: none;
}

.__Carousel .slide.active {
  pointer-events: none;
  z-index: 5;
  /* height: 50vh;  */
}

@media (max-width: 700px) {
  .__Carousel .slide.active {
    flex: 5;
  }
}

@media (min-width: 700px) and (max-width: 1080px) {
  .__Carousel .slide.active {
    flex: 3;
  }
}

@media (min-width: 1080px) {
  .__Carousel .slide.active {
    flex: 2;
  }
}
.__Carousel .slide figure {
  margin: 0;
  padding: 0;
  border: none;
}
.__Carousel .slide.left {
  transform: rotate3d(3, 10, 1, 45deg); 
  margin-right: -18%;
}

.__Carousel .slide.right {
  transform: rotate3d(3, -10, -1, 45deg); 
  margin-left: -18%;
}

@keyframes zeroDegreeToThirty {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    transform: rotate3d(10, 0, 0, 45deg);
  }
}

.__Carousel .slide-arrow {
  position: absolute;
  z-index: 999; 
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 45px;
  font-size: 50px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
/* 
@media (min-width: 700px) {
  .__Carousel .slide-arrow {
    display: none;
  }
} */

.__Carousel .slide-arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.__Carousel .slide-arrow.left {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  padding-right: 10px;
  left: -30px;
}

.__Carousel .slide-arrow.left::before { 
  content: '‹';
}

.__Carousel .slide-arrow.right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  right: -30px;
}

.__Carousel .slide-arrow.right::before { 
  content: '›';
}

.__Carousel .slide-indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.__Carousel .slide-indicators .slide-indicator{
  width: 5px;
  height: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 10px #333;
  margin: 5px;
  z-index: 9999;
  border-radius: 50%;
}
.__Carousel .slide-indicators .slide-indicator.active{
  width: 8px;
  height: 8px;
}