.__PDF_Reader {
  position: relative;
  background: #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}
.__PDF_Reader.loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3333336c;
  z-index: 999;
}
.__PDF_Reader.loading::after {
  content: '';
  border-radius: 50%;
  border: 7px solid #fff;
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  color: #fff;
  z-index: 1000;
  transform-origin: 50% 50%;
  animation: zoom 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) alternate infinite;
}
@keyframes zoom {
  from {
    transform: scale(1);
    box-shadow: #333333 0 0 10px, #818181 0 0 10px inset,
      rgb(255, 93, 29) 0 10px 20px, rgb(217, 255, 0) 0 -10px 20px,
      rgb(0, 183, 255) 10px 0px 20px, rgb(255, 10, 202) -10px 0px 20px;
  }
  to {
    transform: scale(1.2);
    box-shadow: #777777 0 0 20px, #818181 0 0 10px inset;
  }
}
@keyframes cycle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.__PDF_Reader .Thumbs_Wrapper {
  width: 0px;
  margin-right: -200px;
  position: relative;
  background: rgb(145, 145, 145);
  /* overflow-y: auto;  */
  transition: width 0.5s ease-in-out;
}

.__PDF_Reader .Thumbs_Wrapper.unfold {
  width: 200px;
}

.__PDF_Reader .Thumbs_Wrapper .Thumbs_Handler {
  position: absolute;
  right: -25px;
  top: 0;
  letter-spacing: 4px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 2.5px;
  writing-mode: vertical-rl;
  font-size: 8px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  background-color: rgb(66, 66, 66);
  border-radius: 0 10px 10px 0px;
  cursor: pointer;
}
.__PDF_Reader .Thumbs_Wrapper .Thumbs_Inner_Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.__PDF_Reader .Thumbs_Wrapper .Thumbs_Inner_Wrapper .Thumb {
  /* min-width: 80px;
  min-height: 80px; */
  background-color: #333333;
  margin: 20px;
  /* box-sizing: border-box; */
}
.__PDF_Reader .Thumbs_Wrapper .Thumbs_Inner_Wrapper .Thumb.selected {
  border: 10px solid rgba(255, 255, 255, 0.582);
  margin: 10px;
}

.__PDF_Reader .Canvas_Wrapper {
  flex: 1;
  margin-left: 200px;
  width: 100%;
  min-height: 450px;
  max-height: 900px;
  overflow: auto;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.__PDF_Reader .Canvas_Wrapper.zoom {
  cursor: grab;
}
.__PDF_Reader .Canvas_Wrapper::-webkit-scrollbar {
  display: none;
}

.__PDF_Reader .__PDF_Reader_Inner_Wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.__PDF_Reader .__PDF_Reader_Inner_Wrapper canvas {
  padding: 10px;
  display: block;
  margin: 0 auto;
}
.__PDF_Reader .__PDF_Tools {
  display: flex;
  width: 100%;
  background: #333333;
  box-shadow: 0 0 40px #4b4b4b;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  max-height: 200px;
  transition: max-height 0.2s ease-in-out;
}
.__PDF_Reader .__PDF_Tools.hidden {
  max-height: 0;
}
.__PDF_Reader .__PDF_Tools .__PDF_Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  color: #fff;
  font-size: 12px;
  max-width: 200px;
  height: 25px;
  border-radius: 5px;
  background: rgb(50, 130, 221);
  cursor: pointer;
}
.__PDF_Reader .__PDF_Tools .__PDF_Btn > * {
  margin: 0;
  padding: 5px 8px;
  text-align: center;
  vertical-align: middle;
}
.__PDF_Reader .__PDF_Tools .__PDF_Menu_Btn {
  right: 10px;
  color: rgb(151, 151, 151);
  position: absolute;
  cursor: pointer;
}
.__PDF_Reader .__PDF_Tools.hidden.top .__PDF_Menu_Btn {
  top: 10px;
}
.__PDF_Reader .__PDF_Tools.hidden.bottom .__PDF_Menu_Btn {
  bottom: 10px;
}
.__PDF_Reader .__PDF_Tools.top .__PDF_Menu_Btn {
  top: 40px;
}
.__PDF_Reader .__PDF_Tools.bottom .__PDF_Menu_Btn {
  bottom: 40px;
}
.__PDF_Reader .__PDF_Tools .__PDF_Menu_Btn:hover {
  color: rgb(199, 199, 199);
}
.__PDF_Reader .__PDF_Tools .__PDF_Btn.disabled {
  background: rgb(99, 119, 143);
  cursor: not-allowed;
}
.__PDF_Reader .__PDF_Tools .__PDF_Btn:not(:last-child) {
  margin-right: 15px;
}
