$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;
$screen-lg-max: 1366px;
$screen-xlg-min: 1366px;
$screen-xlg-max: 1920px;
$screen-1080-min: 1920px;
$screen-1080-max: 2560px;
$screen-2k-min: 2560px;
$screen-2k-max: 4096px;
$screen-4k-min: 4096px;