[data-modal]{
  display: none;
}
.__Model_Shadow{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh; 
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  animation: __Model_Display .5s forwards;
  overflow: auto;
}
@keyframes __Model_Display {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.__Model_Shadow.Hiding{
  animation: __Model_Hide .5s forwards;
}
@keyframes __Model_Hide {
  from{
    opacity: 1;  
  }
  to{
    opacity: 0; 
  }
}
.__Model_Shadow.Hide{
  display: none;
}
.__Model_Shadow .__Model{
  position: relative;
  background-color: #fff;
  min-width: 200px;
  min-height: 200px;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px #333 ;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.__Model_Shadow .__Model .__Model_Header{
  /* width: 100%; */
  height: 20px; 
  margin:0 -10px 10px -10px ;
  background-color: #d42b1e;
  box-shadow: 0 0 15px rgb(155, 155, 155);
  display: flex;
  justify-content:flex-end;
}
.__Model_Shadow .__Model .__Model_Header .__Model_Close_Btn::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0; 
  background-image: url('./Assets/image/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 6px;
  height: 6px;
  margin: 4.5px;
  box-shadow: 0 0 0 rgb(88, 5, 5) inset;
}
.__Model_Shadow .__Model .__Model_Header .__Model_Close_Btn:hover::after{
  box-shadow: 0 0 1px rgb(26, 26, 26) inset;
}
.__Model_Shadow .__Model .__Model_Header .__Model_Close_Btn{
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 2.5px 10px;
  transition: background 0.5s; 
  background: rgb(201, 2, 2);
  /* box-shadow: 0 0 0 rgb(88, 5, 5) inset; */
  cursor: pointer;
}
.__Model_Shadow .__Model .__Model_Header .__Model_Close_Btn:hover{
  /* box-shadow: 0 0 10px rgb(88, 5, 5) inset; */
  background: rgb(139, 4, 4);
}
/* .__Model{
  margin: 20px auto;
} */