.__notification{ 
  background-color: #fff;
  font-size: 14px;
  color: #717e94;
  padding: 14px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__notification>.__notification_container{
  position: relative;
  overflow: hidden; 
  height: 24px;
  flex: 1;
  /* margin: 8px 10px; */
}
.__notification>.__notification_icon{
  width: 24px;
  height: 24px;
}
.__notification>.__notification_close{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.__notification>.__notification_container>.__notification_container_inner_wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  transition: top 0.5s ease-in-out;
}
.__notification>.__notification_container>.__notification_container_inner_wrapper>.content_wrapper{
  vertical-align: middle;
  padding: 4px 0 ;
}
.__notification>.__notification_container>.__notification_container_inner_wrapper>.content_wrapper>span{
  /* display:inline-block !important; */
  word-break:keep-all;
  font-size: 14px !important;
  line-height: 14px !important; 
  margin: 0;
}
.__notification>.__notification_container>.__notification_container_inner_wrapper>p.marquee{

}